.containerNotFound {
    height: 65vh;;
}

.popularNtf {
    display: flex;
    height: 3rem;
    margin-top: -20px;
    background-color: #414141;
    margin-bottom: 2rem;
    margin-top: 0px;
    align-items: center;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.popularNtf > h2 {
    
    margin-left: 7rem;
    color: whitesmoke;
    
}

.divNtf > h3 {
    margin-left: 7rem;
   font-weight: 400;
}